main{
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: #7a7a7a;
  box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}
.main-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.main-hero .bg {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-hero .section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 40px;
  padding: 50px;
}

.main-hero .pacuso-logo-white{
  width: 170px;
  height: auto;
  object-fit: cover;
}

.main-hero .text-wrapper-Ar {
  margin-top: -3px;
  margin-left: -2px;
  font-family: "Gulzar", serif;
  font-weight: 700;
  font-size: 45px;
  position: relative;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.2px;
}
.main-hero .text-wrapper-Fr {
  margin-top: -3px;
  margin-left: -2px;
  font-family: 'Milonga', serif;
  font-weight: 700;
  font-size: 35px;
  position: relative;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.2px;
}
.main-hero .text-wrapper-En {
  margin-top: -3px;
  margin-left: -2px;
  font-family: 'Milonga', serif;
  font-weight: 700;
  font-size: 35px;
  position: relative;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.2px;
}

.main-hero .hero-button {
  color: whitesmoke;
  background-color: #782c28;
  align-items: center;
  justify-content: center;
  padding: 19px 10px;
  border: 2px solid;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  border-color: #000000;
  margin-top: 50px;
  transition: box-shadow 0.3s ease-in-out;
}
.main-hero .hero-button:hover {
  box-shadow: 23px 23px 0px #000000;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: #757575;
  font-size: 30px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Other Pages Css code */
.page_title, .year{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  position: relative;
}
.page_title::after, .year::after {
  content: '';
  display: block;
  width: 30%; /* Adjust the width as needed */
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.title_text{
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.page_title .back_arrow{
  width: 25px;
  height: auto;
}

.act{
  background-color: #F5F5F5;
  margin: 20px;
  padding: 20px;
  text-align: right;
}
.act .act_text{
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 24px;
  text-align: justify;
  direction: rtl;
  line-height: 1.5;
  padding-bottom: 10px;
}
.act .act_title{
  font-weight: bold;
  padding-bottom: 10px;
}
.act .blue{
  color: blue;
}

.pres_card{
  background-color: #F5F5F5;
  margin: 20px;
  padding: 20px;
  display: flex;
}
.pres_pic{
  width: 260px;
  height: auto;
  border-radius: 15px;
  transition: box-shadow 0.3s ease-in-out;
}
.pres_pic:hover{
  box-shadow:  10px 10px 0px #817d8f, -10px -10px 0px #817d8f;
}
.pres_text{
  margin-left: auto;
  text-align: right;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 24px;
}
iframe {
  justify-self: center;
  border: 5px solid gray;
  border-radius: 15px;
  height: 500px;
  width: 100%;
}


/*Media Quaries go here*/
/* Media query for screens smaller than 1628px */
@media (max-width: 1628px) {
  main {
    margin-left: 200px; /* Adjust as needed */
    margin-right: 200px; /* Adjust as needed */
  }
}

/* Media query for screens smaller than 1366px */
@media (max-width: 1366px) {
  main {
    margin-left: 150px; /* Adjust as needed */
    margin-right: 150px; /* Adjust as needed */
  }
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
  main {
    margin-left: 100px; /* Adjust as needed */
    margin-right: 100px; /* Adjust as needed */
  }
}